* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Styles */

.header-wrapper {
    background-image: url(img/smile.png);
    height: 675px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}